@model EBookShop.ViewModels.BookListViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="col-md-12">
    <h2 class="display-4">Books</h2>
</div>

<div class="row">
    <div class="dropdown col-md-3 dropleft">
        <div class="col-md-12">
            <button type="button" class="btn btn-secondary dropdown-toggle btn-block" data-toggle="dropdown">
                Genre
            </button>
            <div class="dropdown-menu">
                @foreach (Genre genre in Model.Genres)
                {
                    <a class="dropdown-item" asp-controller="Home"
                       asp-route-bookGenre="@genre.GenreName">@genre.GenreName</a>
                }
            </div>
        </div>
    </div>
    <form asp-controller="Home" asp-action="Index" method="get" class="col-md-9">
        <div class="input-group">
            <input type="text" name="SearchString" class="form-control" placeholder="Title:" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">
                    <i class="fas fa-search"></i>Search
                </button>
            </div>
        </div>
    </form>
</div>

<hr />

<div>
    @for (int i = 0; i < Model.Books.Count; i++)
    {
        <div class="media p-3">
            @{string src = "https://drive.google.com/uc?export=view&id=" + @Model.Books[i].ImageId; }
            <img src=@src class="align-self-center mr-3" width="115" height="160" alt=@Model.Books[i].Title>
            <div class="media-body">
                <h4 class="d-flex justify-content-md-between align-items-md-start">
                    <a asp-controller="BookDetails" asp-action="Details" asp-route-id="@Model.Books[i].Id" class="text-decoration-none text-dark">
                        @Model.Books[i].Title
                    </a>
                    @if (@Model.Books[i].Discount != 0)
                    {
                        <span>
                            <span class="badge">
                                <del class="text-danger">$@Model.Books[i].Price</del>
                                <sup class="text-danger">-@(String.Format("{0:#,##}", Model.Books[i].Discount *100))%</sup>
                                $@(String.Format("{0:#,##.##}", (float)(1 - Model.Books[i].Discount) * Model.Books[i].Price))
                            </span>
                        </span>
                    }
                    else
                    {
                        <span class="badge">$@Model.Books[i].Price</span>
                    }
                </h4>
                <small>ISBN: @Model.Books[i].ISBN</small>
                <p>by <a asp-controller="AuthorDetails" asp-action="Details" asp-route-id="@Model.Books[i].Author.Id" class="text-decoration-none text-dark">
                        @Model.Books[i].Author.Name
                    </a></p>
                <p class="font-weight-bold">Goodreads rating: @Model.Books[i].Rating/5</p>
                @foreach (GenreToBookAssociation g in Model.Books[i].GenreList)
                {
                    <span class="badge badge-secondary">@g.Genre.GenreName</span>
                }
            </div>
        </div>
    }
</div>